{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HOME{% endblock %}</title>
    <link href="https://bootswatch.com/5/simplex/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">S ' tours</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <ul class="navbar-nav me-auto">
        <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Accueil
              </a>

        </li>

        <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
          {% if user.is_authenticated %}
          <li class="nav-item ">
          <a class="nav-link " > Utilisateur: {{ user.username }}</a>
        </li>
        <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">

          <li class="nav-item">

          <a class="nav-link" href="{% url 'logout' %}">Se deconnecter</a>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Gerer le stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
        </li>

          {% endif %}
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Les utilisateurs</a>

  </li>
    </div>
  </li>
            <li class="nav-item">

          <a class="nav-link" href="{% url 'aboutus' %}">About us</a>
        </li>


      </ul>
    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" name="recherche" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>

{% block content %}

{% endblock %}


</body>
</html>
<style>
  .test{
  float:right;
  }

</style>